.text-button {
  border: none;
  background-color: inherit;
  padding: 20px 15px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  color: dodgerblue;
}

/* On mouse-over */
.text-button:hover {color: #000000;}

.submit-button {
  background-color: #3645ff;
  color: white;
  height: 45px;
  width: 100px;
  font-size:18px;
} 

.task-input {
  margin: 0 30px;
  height: 40px;
  width: 400px;
}

h1 {
  margin: 50px;
  text-align:center;
}