.text-button {
  border: none;
  background-color: inherit;
  padding: 20px 15px;
  font-size: 22px;
  cursor: pointer;
  display: inline-block;
  color: #ffe4e4;
}

/* On mouse-over */
.text-button:hover {color: #000000;}

.submit-button {
  background-color: #3645ff;
  color: white;
  height: 45px;
  width: 100px;
  font-size:18px;
} 

.task-input {
  margin: 0 30px;
  height: 40px;
  width: 400px;
    background-color: #ffe7e7;
    color: #693838;
    box-shadow: 1px 1px 8px 0px #6b2727;
    font-size: 19px;
}

h1 {
  margin: 50px;
  text-align:center;
    color: #ffe4e4;
}